h1 {
  font-size: 5px;
  font-weight: normal;
  font-family: 'Lato';
}

h1, .shadowed {
  margin-top: 20px
}

header {
  height: 100%;
  max-width: 100%;
  max-height: 100vh;
  background-image: url(../img/hero_header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* relevant styles */
.img__wrap {
  position: relative;
}

.img__description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  opacity: 0;
  font-size: 24px;
  font-weight: bold;
}

.img__wrap:hover .portrait{
  filter: brightness(25%);
  cursor: pointer;
}

.img__wrap:hover .img__description {
  opacity: 1;
}

.aligncenter {
  text-align: center;
  margin-top: -10px;
}

.lead {
  font-size: 17px;
}

.desc {
  font-size: 28px;
  font-style: italic;
}

.higherup {
  margin-top: -80px;
}
.shadowed {
  text-shadow: 2px 2px black;
}

.reduced {
  transform: scale(0.875);
}
.navbar-brand {
  margin-right: -50px;
}